<h1>All User's <%= @name_of_day %>s</h1>

<% @days.each do |week_day| %>
  <div class="list-style">
    <%= link_to("#{@name_of_day} for  #{week_day.user.full_name}", day_path(week_day)) %></div>
<% end %>
