<h1>Users</h1>

<% @users.each do |user| %>
  <div class="list-style">
    <%= link_to "#{user.first_name} #{user.last_name}", user %>
    <%= link_to "Show Accomplishments", user, {class: "js-show"} %>
  </div>
  <div id="js-user-info-<%= user.id %>">

  </div>
<% end %>

<%= javascript_include_tag "userShow" %>
