<h1>Top User</h1>
<% if @top_user %>
    <div>
        Name: <%= @top_user.full_name %>
        <br>
        Amount of Accomplishments: <%= @top_user.accomplishments.count %>
        <br>
    </div>
<% end %>

