<h1>By Day of the Week</h1>
<!-- links to all users days by day of week -->

<% @days_of_the_week.each do |day_str| %>
  <div class="list-style">
    <%= link_to day_str, day_of_week_path(day_str) %>
  </div>
<% end %>
