.text-block {
  display: block;
  font-family: Bitter, serif;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.brand {
  padding: 20px;
}

.navbar {
  background-image: -webkit-linear-gradient(270deg, rgba(33, 69, 146, .53), rgba(33, 69, 146, .53));
  background-image: linear-gradient(180deg, rgba(33, 69, 146, .53), rgba(33, 69, 146, .53));
}

.nav-link {
  font-family: Bitter, serif;
  font-size: 16px;
}

.text-block-2 {
  padding: 20px;
}

.heading {
  font-family: Bitter, serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.day-choice {
  margin-bottom: 7px;
  width: 14%;
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(19, 17, 42, 0.71);
}

.day-heading {
  margin-bottom: 7px;
  width: 14%;
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(19, 17, 42, 0.71);
}

.list-style {
  margin-bottom: 7px;
  width: 35%;
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(19, 17, 42, 0.71);
}
.flexed-links-listing-div {
  width: 49%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(19, 17, 42, 0.71);
}

@media (max-width: 991px) {
  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .new_accomplishment {
    height: 100%;
    width: 100%;
  }
  .day-choice {
    margin-bottom: 7px;
    width: 28%;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(19, 17, 42, 0.71);
  }
  .day-heading {
    margin-bottom: 7px;
    width: 28%;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(19, 17, 42, 0.71);
  }
  .flexed-links-listing-div {
    width: 98%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(19, 17, 42, 0.71);
  }
  .phone-push-left {
    margin-right: 21%;
  }
  .phone-push-right {
    margin-right: -21%;
    margin-left: 21%;
  }
  .list-style {
    margin-bottom: 7px;
    width: 100%;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(19, 17, 42, 0.71);
  }
  .phone-listed {
    width: 49%;
  }

}

@media (max-width: 767px) {
  a.nav-link {
    padding: 7px;
  }
  .nav-menu-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .phone-push-left-li {
    margin-left: -42px;
  }
}
