<h1>Welcome</h1>
<% if logged_in? %>
<%= link_to 'My Profile', user_path(current_user) %>
<% end %>
<br>

All <%= link_to 'Users', users_path %>
<br>
All <%= link_to 'Days', days_path%>
<br>
All <%= link_to 'Accomplishments', accomplishments_path %>
<br>
